<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Poker</title>
  </head>

  <body>
    <div class="container">
      <h1>Poker</h1>

      <h2>Add a new player: </h2>

      <form action="/select" method="post">
      <input type="text" class="input" placeholder="Enter a name" name="name" >
        <h2>Enter the amount of cards per player: </h2>
      <input type="text" class="input" placeholder="Enter a number" name="name" >
      <p>
        <input id="SubmitButton" class="submit" type="submit" value="Submit">
      </p>
    </form>
    </div>
  </body>
</html>
